.payment-item {
	display: inline-block;
  margin: 30px;
}

.payment-content {
  width:  700px;
	float: right;
	margin-bottom: 30px;
	margin-left: 30px;
}

.payment-img {
  float: left;
	width: 100px;
	height: 100px;
}
