.sales-wrapper {
  // background-color: #e6e6e6;
  background: url('../../images/pexels-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.sales-content {
  max-width: 500px;
  margin: 0 auto;
}

.spinner-wrap{
  color: red;
  background: lightskyblue;
  position: absolute;
  /*z-index: 999999;*/
}

.spinner-text {
  position: relative;
  top: 100px;
  left: 500px;
}

.wrap-desc{
  width: 800px;
}

.wrap-text{
  margin: 20px;
}
