.about-wrapper {
  background: url('../../images/aboutBg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;;
  // background-color: #e6e6e6;
  background-attachment: fixed;
}

.details-info {
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: 3px;
}

.trainer-info {
  display: flex;
  align-items: flex-start;
}

.paragraph {
  margin: 10px 0;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}

.achievments {
  width: 902px;
  margin: 40px auto;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
