.About-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

  .columns-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
