.login-page {
  background-color: #e6e6e6;
  font-weight: 600;
  font-size: 30px;
  display: table;
  text-align: center;
  width: 100%;
}

.input-wrapper {
  margin-top: 20px;
}

.input-label {
  font-weight: bold;
}

.login-form-caption {
  color:#808080;
}

.input-area {
  margin-top: 15px;
  display: block;
}

.linkto {
  margin-top: 15px;
  display: block;
}

.login-form {
  width: 300px;
}

.form {
  width: 100%;
  margin-top: 5px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form::placeholder {
  font-size: 12px;
}

.ui.checkbox {
  margin: 13px 0;
}

.btn-login {
  display: block;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  align: center;
  padding: 10px 20px;
  color: #fff;
  background-color: #33cc33;
  border-radius: 5px;
  font-size: 15px;
  font-style: normal;
  box-shadow: none;
}

button:hover {
  background-color: #84e184;
}

.btn {
  margin-bottom: 20px;
  color: #f2f2f2;
}

.linkto {
  margin-bottom: 10px;
  color: #808080;
  font-size: 15px;
}
.error-message{
  margin-top: 3px;
  display: block;
  color: #db2828;
  font-size: 13px;
}
