.nutrition {
  text-align: center;
  position: relative;
  overflow: auto;
  padding: 0 0 50px;
}

.nutrition:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size:cover;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}

.nut-section-row {
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nut-row-wrapper {
  justify-content: space-around;
  display: flex;
}

.nut-row-title {
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4)
}

.nut-description {
  text-align: left;
  width: 70%;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.big-photo {
  width: 200px;
  height: 200px;
}
