.map {
    width: 60%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 6px 14px;

    .marker {
        position: relative; 
        color: black;
        background: red;
        height: 15px; 
        width: 15px; 
        top: -20px; 
        left: -30px; 
        border-radius: 50px;

        span {
            padding-left: 20px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}