
.titlenutr{
  display: inline-block;
  text-align: center;
  width: 33.3%;
  padding-left: 10px;
  padding-right: 10px;
}
.work-link{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

