.form-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;

    label {
        display: block;
        width: 100%;
    }

    input[type='text'], .submit-full-name {
      width: 60%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #999;
      border-radius: 5px;
      margin: 10px;
      background: transparent;

      &:focus {
        border: 1px solid #54a4d4;
        box-shadow: 0 0 5px rgba(84, 164, 212, 1);
      }
    }

    .submit-full-name {
      background: #33cc33;
      color: #fff;
      cursor: pointer;
    }
}