.motivation-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  overflow-x: hidden;

  h3{
    font-size: 30px;
    margin-bottom: 40px;
  }
}