.contacts {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px;
  background-size: cover;
  background-image: url('../../../images/pexels-photo.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%; 
}

h1 {
  margin: 20px 15px 50px;
  color: #000;
  font-size: 50px;
}
