.service-button{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  transform: none;
  border: none;
  background-color: #111111;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: 1px 3px 3px #545454;
  cursor: pointer;

  &:hover{
    background-color: #222222;
  }
  &:active{
    background-color: #111111;
    box-shadow: 1px 3px 3px #545454;
  }
}
