.sales-wrapper {
  padding: 40px 0;
}

.sales-content {
  max-width: 500px;
  margin: 0 auto;
}

.spinner-wrap{
	color: red;
	background: lightskyblue;
	position: absolute;
	/*z-index: 999999;*/
}

.spinner-text {
	position: relative;
	top: 100px;
	left: 500px;
}
