.review-slide {
  border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 25px;
  justify-content: space-between;
  min-height: 188px;
}

.slide-content {
  width: 69%;
}

.review-name {
  display: block;
  font-family: 'Roboto';
  font-size: 20px;
}

.review-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.review-text {
  text-align: justify;
  margin-top: 8px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

.title-name{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}