{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "React": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "array-bracket-spacing": ["error", "always", { "objectsInArrays": false, "arraysInArrays": false }],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "no-debugger": 0,
    "no-console": 0,
    "new-cap": ["error", { "capIsNew": true }],
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": true }],
    "eol-last": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "jsx-quotes": [1, "prefer-single"],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-curly-spacing": [1, {"when": "never"}],
    "react/jsx-equals-spacing": [1, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-key": 1
  }
}
