.not-found {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/aboutBg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
  text-indent: 40px;
}
