.wrap-admin-sidebar {

  display: flex;
  height: 700px;
  width: 10%;
  border: 2px white;
  background-color: #262626;
  padding: 0 10px;
}

.admin-sidebar-item {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  padding: 20px;
  position: relative;
  height: 50px;
  border-bottom: 1px white;
  align-items: center;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
  z-index: 999999;


  &:hover {
    background: #757575;
    color: white;
    transform: translateY(2px);
  }

}

.admin-sidebar-item {
  align-items: center;
  margin-top: 10px;
}

.admin-sidebar-link {
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
}
