.active-warning {
  font-size: 12px;
  display: block;
  color: red;
  margin-top: 5px;
  margin-left: 0;
  display: block;
}

.not-active-warning {
  display: none;
}

.input-warning {
  border-color: red !important;
}
