/*
.Image{
  text-align: center;
}

.online-img {
  text-align: center;
}

.personal-video{
  width: 200px;
  height: 300px;
}*/
.training-photo{
  width: 100%;
  margin-top: 20px;

}

.video-online{
  width: 100%;
  height: 650px;
}