html, body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.swiper-container-horizontal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.nutrition-slider{
  overflow: hidden;
  height: 100vh;
}

.slider {position: relative;}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout-content {
  flex-grow: 1;
}
