html, body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.swiper-container-horizontal {
  overflow: hidden;
  height: 100vh;
}

.slider {position: relative;}