html, body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-content {
  width: 80%;
  margin: 0 auto;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 50px 0;
}

.swiper-container-horizontal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.nutrition-slider{
  overflow: hidden;
  height: 100vh;
}

.slider {position: relative;}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout-content {
  flex-grow: 1;
  position: relative;
}
