.header {
  z-index: 1000;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
