.signup-page {
  padding: 50px;
  background-color: #e6e6e6;
  font-weight: 600;
  font-size: 30px;
  display: table;
  text-align: center;
  height: 1000px;
  width: 100%;
}

.signup-content {
  display: flex;
  justify-content: center;
  align-items: center
}

.signup-form {
  width: 300px;

  .input-wrapper {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.form-input {
  display: block;
}

.btn-signup {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #33cc33;
  border-radius: 5px;
  font-size: 15px;
  font-style: normal;
  box-shadow: none;
}

button:hover {
  background-color: #84e184;
}

.linkto {
  color: #808080;
}
