.title-work{
  font-size: 32px;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.title{
  width: 100%;
  display: block;
  position: relative;
}
.nutrition-list-img{
  width: 37%;
  float: left;
  display: block;
  margin-top: -30px;
  margin-left: 149px;
  margin-bottom: 156px;
}