.about-us {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 20px;

  .columns-wrap {
    display: flex;
    width: 63%;
    justify-content: space-between;
  }
  .add-info-wrap {
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  .body-sizes {
    margin: 10px 30px 10px;
    width: 25%;
    height: 460px;
  }
}
