.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .columns-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .body-sizes {
    margin: 10px 30px 10px;
    width: 25%;
    height: 460px;
  }
}
