.orders-wrapper {
  padding: 50px 0;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;


  select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 97% center;
    border: 1px solid #AAA;
    color: #555;
    cursor: pointer;
    outline: none;
    font-size: inherit;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 211px;
  }

}

.orders-select-wrapper {
  display: flex;

  span {
    margin-right: 5px;
  }
}

.select-item {
  margin: 0 15px;
}
