.paymentItem {
	display: inline-block;
    margin: 30px;
}

.content {
    width:  700px;
	float: right;
	margin-bottom:  30px;
	margin-left: 30px;


}

.image {
    
    float: left;
	width: 100px; 
	height: 100px;
}