html, body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.admin-layout .layout-content {
  display: flex;
  position: relative;
}

.page-title {
  color:#808080;
  margin: 30px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.page-content {
  min-height: 50vh;
  width: 80%;
  margin: 0 auto;
}

.page-wrapper {
  margin: 0 auto;
  padding: 50px 0;
}

.online .swiper-container-horizontal {
  height: 200px;
}

.swiper-container-horizontal {
  height: 92vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nutrition-slider {
  overflow: hidden;
  height: 100vh;
}

.slider {position: relative;}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout-content {
  padding-top: 54px;
  flex-grow: 1;
  position: relative;
}
