.Contraindications {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .text {
    width: 100%;
    height: 150px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 20px;
    background: transparent;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

    &:focus {
      border: 1px solid #54a4d4;
      box-shadow: 0 0 5px rgba(84, 164, 212, 1);
    }
  }

  .submit-contraindications {
    width: 12%;
    align-self: flex-end;
    background: #33cc33;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
}
