.aims-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    select {
        width: 100%;
        height: 35px;
        font-size: 16px;
    }

    input[type='text'], .submit-full-name {
        width: 12%;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #999;
        border-radius: 5px;
        margin-top: 20px;
        background: transparent;

        &:focus {
            border: 1px solid #54a4d4;
            box-shadow: 0 0 5px rgba(84, 164, 212, 1);
        }
    }

    .submit-full-name {
        align-self: flex-end;
        background: #33cc33;
        color: #fff;
        cursor: pointer;
    }
}

